*{
    -moz-appearance:none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 5px;
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul > a, ul > img, ul > button {
    padding: 0 10px;
}

/*header navigation styles*/

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav, .footer-nav{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

.header-item:hover {
    cursor: pointer;
}

.nav-button {
    background: rgb(26, 115, 232);
    color: white;
    padding: 9px 23px;
    border-radius: 4px;
    border: 1px solid transparent;
}

/*main content and search styles*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    margin-top: 20px;
    padding: 5px 10px;
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

.search>img {
    width: 20px;
    height: 20px;
}

.search>img:hover {
    cursor: pointer;
}

.search>input {
    flex-grow: 1;
    border: none;
}

.search-buttons {
    margin-top: 30px;
}

.search-buttons>button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.search-buttons>button:hover {
    cursor: pointer;
}

/*footer styles*/

footer {
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    width: 100%;
}